/* Your styles here */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital@0;1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,800;1,800&display=swap");
body {
  font-family: "Open Sans", sans-serif;
  max-width: 450px;
  margin: 0;
  color: #393d41;
  line-height: 1.65;
}
header {
  background-color: black;
  padding-block: 40px;
  text-align: center;
}
header img {
  max-width: 150px;
}
main {
  text-align: center;
}
.part-1 {
  background-position: 100%;
  background-image: url(/images/banner.jpg);
  padding-block: 50px;
}
.part-1 h1 {
  font-family: "Montserrat", sans-serif;
  line-height: 1.5;
  font-size: 50px;
  color: rgb(71, 163, 199);
  margin-bottom: 10px;
}
.part-1 p {
  font-size: 25px;
  margin-bottom: 25px;
}
.part-1 button {
  background-color: #f04c2f;
  color: white;
  width: 150px;
  height: 50px;
  border-radius: 7px;
  border-color: #dee1e3;
  font-family: "Montserrat", sans-serif;
}
.part-2 {
  margin: 30px;
  font-size: 20px;
  padding-block: 70px;
}
hr {
  clear: both;
  visibility: hidden;
}
div h2 {
  color: rgb(71, 163, 199);
  font-family: "Montserrat", sans-serif;
  line-height: 1.5;
  margin-bottom: 10px;
}

.part-2 img {
  width: 80%;
  border-radius: 50%;
  padding-block: 25px;
}
.part-3 {
  background-color: #e22d0e;
  padding-block: 50px;
}
.part-3 h2 {
  color: white;
  font-size: 30px;
}
.part-3 h3,
h4 {
  color: white;
  font-size: 20px;
}
.part-3 h4 {
  font-size: 25px;
}
.part-3 p {
  color: white;
  margin-bottom: 20px;
  font-size: 20px;
}
.part-4 {
  margin: 20px;
  padding-block: 80px;
}
.part-4 img {
  width: 100%;
  border-width: 1px;
}
.part-4 div {
  margin: 0;
  border-style: solid;
  border-color: #dee1e3;
  border-width: 1px;
  margin-top: 30px;
}
.part-4 p {
  padding-bottom: 15px;
}
.part-5 {
  background-color: #25a2c3;
  padding-block: 50px;
}
.part-5 h2 {
  font-family: "Montserrat", sans-serif;
  line-height: 1.5;
  font-size: 30px;
  color: white;
  margin-bottom: 10px;
}
.part-5 a,
h3 {
  color: rgba(255, 255, 255, 0.596);
}
.part-5 ul {
  width: 100%;
  padding-bottom: 20px;
  list-style-type: none;
}
.part-5 hr {
  visibility: visible;
  color: #94d0e782;
  width: 200px;
}
.part-5 h4 {
  padding-block: 20px;
  font-size: 15px;
  color: rgba(255, 255, 255, 0.596);
}
